<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>럭키승카 정비소</title>
    <script th:inline="javascript" type="text/javascript" th:src="|@{/lib/js/mainIndex.js}|"></script>
</head>
<body>
<!--<div class="container">-->
<div layout:fragment="Content" class="container">
    <div class="container2">
    <div class="emoji">
        <span class="star">⭐</span>
        <span class="wrench">🔧</span>
    </div>
    <h2>럭키승카 정비소</h2>
    <button th:onclick="startLuckyRepair();">입장하기</button>
</div>
</div>
</body>
</html>