<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>럭키승카 정비소</title>
    <script th:inline="javascript" type="text/javascript" th:src="|@{/lib/js/mainIndex.js}|"></script>
</head>
<body>
    <div layout:fragment="Content" class="container">
        <div class="content-box">
            <div class="emoji">
                <span class="star"><img th:src="@{/lib/img/star.svg}" class="starImg" alt="별"></span>
                <span class="wrench"><img th:src="@{/lib/img/wrench.svg}" class="wrenchImg" alt="렌치"></span>
            </div>
            <h2>럭키승카 정비소</h2>
            <button th:onclick="startLuckyRepair();">입장하기</button>
            <button th:onclick="goLoginForm();">로그인</button>
        </div>
    </div>
</body>
</html>