<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">LUCKYSEUNGCAR</title>

    <script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/jquery-3.7.1.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/jquery-ui.min.js}"></script>

    <link th:inline="css" th:href="|@{/lib/css/main.css}|" rel="stylesheet"/>
    <link th:inline="css" th:href="|@{/lib/css/base.css}|" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/lib/css/jquery-ui.min.css}" rel="stylesheet"/>

   <!-- <script th:inline="javascript" type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {

            const menuIcon = document.querySelector(".menu-left img");
            const dropdown = document.getElementById("dropdownMenu");

            // 메뉴 전체 토글
            menuIcon.addEventListener("click", () => {
                dropdown.classList.toggle("open");
            });

            // 대메뉴(럭키승카) 소메뉴 토글
            const firstMainItem = document.querySelector(".mainItem .mainLabel");
            const subMenu = document.querySelector(".subMenu");

            firstMainItem.addEventListener("click", () => {
                subMenu.classList.toggle("open");
            });

        });
    </script>-->
</head>
<body>
    <!--Header-->
    <header th:replace="layout/header :: HeaderFragment"></header>
    <!--Content-->
    <th:block layout:fragment="Content"></th:block>
    <!--Footer-->
    <footer th:replace="layout/footer :: FooterFragment"></footer>
</body>
</html>