<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="HeaderFragment">
    <header class="header">
        <div class="header-inner">
            <a class="logo" th:href="@{/main/index}">
                <img th:src="@{/lib/img/luckySeungCarLogo.svg}" alt="럭키승카 로고">
            </a>
            <div class="divider"></div>
            <h1>
                <a class="title" th:href="@{/main/index}">럭키승카</a>
            </h1>
        </div>
        <div>
            menu | profile
        </div>
    </header>
</div>
</html>
