<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>럭키승카 정비소 - 공지사항</title>
    <link th:inline="css" th:href="|@{/lib/css/menu/notice/notice.css}|" rel="stylesheet"/>
    <script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/menu/notice/notice.js}"></script>
</head>
<body>
<div layout:fragment="Content" class="container" role="main" aria-labelledby="mainTitle">
    <div class="content-box">
        공지사항 페이지
    </div>
</div>
</body>
</html>