<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>럭키승카 정비소 - 예약</title>
    <link th:inline="css" th:href="|@{/lib/css/menu/lsc/reserve/reserve.css}|" rel="stylesheet"/>
    <script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/menu/lsc/reserve/reserve.js}"></script>
</head>
<body>
<div layout:fragment="Content" class="container">
    <div class="content-box-table">
        <div class="emoji">
            <span class="star"><img th:src="@{/lib/img/star.svg}" class="starImg" alt="별"></span>
            <span class="wrench"><img th:src="@{/lib/img/wrench.svg}" class="wrenchImg" alt="렌치"></span>
        </div>

        <h2>럭키승카 정비소-예약내역</h2>
        <p>아직은 세부적인 디자인은 안하고 데이터를 표 형식으로만 표시</p>

        <table style="border: 1px solid #ccc; border-collapse: collapse; width: 100%;">
            <col style="width:5%;">
            <col style="width:10%;">
            <col style="width:15%;">
            <col style="width:20%;">
            <col style="width:20%;">
            <col style="width:10%;">
            <col style="width:10%;">
            <col style="width:10%;">

            <tr>
                <th style="border: 1px solid #ccc;padding: 10px;">No</th>
                <th style="border: 1px solid #ccc;padding: 10px;">차브랜드</th>
                <th style="border: 1px solid #ccc;padding: 10px;">차모델</th>
                <th style="border: 1px solid #ccc;padding: 10px;">대분류</th>
                <th style="border: 1px solid #ccc;padding: 10px;">소분류</th>
                <th style="border: 1px solid #ccc;padding: 10px;">예약날짜</th>
                <th style="border: 1px solid #ccc;padding: 10px;">예약시간</th>
                <th style="border: 1px solid #ccc;padding: 10px;">상태</th>
            </tr>

            <tr th:each="resv, iterStat : ${myReserveList}">
                <td th:text="${iterStat.index + 1}" style="border: 1px solid #ccc;padding: 10px;"></td>
                <td th:text="${resv.carrBrnd}" style="border: 1px solid #ccc;padding: 10px;"></td>
                <td th:text="${resv.carrModl}" style="border: 1px solid #ccc;padding: 10px;"></td>
                <td th:text="${resv.cateGub1}" style="border: 1px solid #ccc;padding: 10px;"></td>
                <td th:text="${resv.cateGub2}" style="border: 1px solid #ccc;padding: 10px;"></td>
                <td th:text="${resv.resvDate}" style="border: 1px solid #ccc;padding: 10px;"></td>
                <td th:text="${resv.resvTime}" style="border: 1px solid #ccc;padding: 10px;"></td>
                <td th:text="${resv.resvStat}" style="border: 1px solid #ccc;padding: 10px;"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>