<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>럭키승카 정비소 - 예약</title>
    <link th:inline="css" th:href="|@{/lib/css/menu/lsc/reserve/reserve.css}|" rel="stylesheet"/>
    <script th:inline="javascript" type="text/javascript" th:src="@{/lib/js/menu/lsc/reserve/reserve.js}"></script>
</head>
<body>
<div layout:fragment="Content" class="container">
    <div class="content-box-table">
        <div class="emoji">
            <span class="star"><img th:src="@{/lib/img/star.svg}" class="starImg" alt="별"></span>
            <span class="wrench"><img th:src="@{/lib/img/wrench.svg}" class="wrenchImg" alt="렌치"></span>
        </div>

        <h2>럭키승카 정비소-예약내역</h2>
        <p>아직은 세부적인 디자인은 안하고 데이터를 표 형식으로만 표시</p>

        <!-- 카드형 예약 목록 -->
        <div class="card-grid">
            <div th:each="resv, iterStat : ${myReserveList}" class="reserve-card"
                 th:data-resv-id="${resv.resvSqnc}"
                 th:onclick="|goDetail('${resv.resvSqnc}')|">
                <div><strong>예약날짜:</strong> <span th:text="${resv.resvDate}"></span></div>
                <div><strong>예약시간:</strong> <span th:text="${resv.resvTime}"></span></div>
                <div><strong>차브랜드:</strong> <span th:text="${resv.carrBrnd}"></span></div>
                <div><strong>차모델:</strong> <span th:text="${resv.carrModl}"></span></div>
                <div><strong>상태:</strong> <span th:text="${resv.resvStat}"></span></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>